name: Maven Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        java: [8, 11, 17]

    name: Java ${{ matrix.java }}

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: zulu
        java-version: ${{ matrix.java }}
    - run: java -version && mvn --version
    - run: mvn --activate-profiles dist --no-transfer-progress package
